.team-wrapper {
	position: relative;
	top: 20vh;
	width: 50vw;
	margin: 0 auto;
	// border: 1px solid;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.team-card {
	width: 150px;
	height: 150px;
	// border: 1px solid;
	position: relative;
	margin: 0 2vw;
	align-self: flex-start;
}


.team-info {
	position: absolute;
	bottom: -5vh;
	left: 0vw;
	font-size: 11px;
	line-height: 15px;
}

.team-info-contact {
	font-weight: 500;
	cursor: pointer;
}