
.navbar{
	line-height: 50px;	
	position: fixed;
	margin: 0 auto;
	text-align: center;
	width: 100vw;
	font-size: 18px;
	text-decoration: none;
	padding-bottom: 2vh;
	padding-top: 5vh;
	background-color: #fff;
	z-index: 2;
}

.navbar > a {
	padding: 0 3vw;
}



.navbar > a:hover{
	text-decoration: underline;
	line-height: 18px;
}