@import "~normalize.css";

$navBackground: white;
$navColor: black;
$background: white;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	background-color: $background;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
}


h3 {
	font-family: "Helvetica Neue", sans-serif !important;
	font-weight: 400 !important;	
	font-size: 24px;
	margin: 5vh 0vh;
}

h4 {
	font-family: "Helvetica Neue", sans-serif !important;
	font-weight: 400 !important;	
	font-size: 18px;
	margin: 4vh 0vh;
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
	padding: 0em 1vw 0 0;
}

a.active {
	font-weight: 600;
}

.logo {
	position: fixed;
	line-height: 50px;
	top: 5vh;
	left: 2vw;
	z-index: 3;
}

.page {
	padding: 0em 2em;
	word-break: break-all;
}

.main {
	position: relative;
	top: 15vh;
	text-align: left;
	max-width: 40vw;
	line-height: 26px;
	font-size: 16px;
	margin: 0 auto;
	height: 75vh;
	overflow-y: scroll;
}

::-webkit-scrollbar {
  display:none;
}

.main > p {
	margin-bottom: 2vh;
	// margin-top: 20vh;
}

.main > .closing {

	margin-bottom: 10vh;
}

.signupSection {
	text-align: center;
	margin-top: 5vh;
}


.GIF {
	position: fixed;
	z-index: -1;
	opacity: 0;
	right: 10vw;
	top: 40vh;
	animation: pulse 20s alternate infinite;
}
@keyframes pulse {
  0%   { transform: scale(0.8); }
  100% { transform: scale(1.2); }
}

.sidebar {
	position: fixed;
	right: 8vw;
	top: 45vh;	
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	padding: 0.5vw;
	max-width: 15vw;
}


.sidebar > p > a {
	line-height: 18px;
	text-decoration: underline;
}

.social {
	position: fixed;
	bottom: 3vh;
	left: 2vw;
}


img.diagram {
	position: relative;
	overflow-y: hidden;
	margin: 10vh 0;
	background-color: #fff;
	display: block;
	z-index: -1;
	width: 100%;
}


// While there is some elegance to having components import their own .scss files,
// and while this compiles just fine with webpack - I choose to import all of the scss files
// into this main app.scss so that constants (e.g. $darkColor) can be used throughout.
@import "./appLoading.scss";
@import "../NoMatch/nomatch.scss";
@import "../Nav/nav.scss";
@import "../Team/team.scss";
